@import url(reset.css);
body{
    background-color: beige;
    min-height: 100dvh;
}
header, footer{
    background-color: beige;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 0 50px;
}
main{
    background-color: seashell;
    height: 80%;
}
.banner, .descripcion, .nosotros, .productos{
    width: 100%;
    height: 25%;
    border: solid 2px black; 


}
.amarillo{
    background-color: white;
}

.productos{
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.producto{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    height: 80%;
    width: 10%;
    background-color: lightgreen;
    border: solid 3px black;
    
}

.producto2{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    height: 80%;
    width: 10%;
    background-color: salmon;
    border: solid 3px black;
    
}

.producto3{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    height: 80%;
    width: 10%;
    background-color: pink;
    border: solid 3px black;
    
}

.producto4{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    height: 80%;
    width: 10%;
    background-color: lightblue;
    border: solid 3px black;
    
}

.foto{
 height: 180px;
 width: 100%;
 overflow: hidden;
}

.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stadd{
    height: 280px;
    display: flex;
    width: 100%;
    background-color: rgb(191, 250 , 13);
    .persona{
        height: 100%;
        width: 30%;
    }
    .foto{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: blue;
    }
}

.banner{
    width: 100%;
    height: 100%;

}
.bannerimage{
    width: 50%;
    height: 100%;
    float: right;

}

.bannertext{
    width: 50%;
    height: 100%;
    float: left;
}



    

.right{
    text-align: right;
}